* {
    padding: 0;
    margin: 0;
}

html,
body {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

body {
    line-height: 1;
}

ul li {
    padding: 0;
    margin: 16px 0;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

button:active,
button:focus {
    outline: none;
    border: none;
}

/* web style */

p {
    padding: 3px 0;
    line-height: 26px;
}

img {
    width: 100%;
}

body {
    width: 100%;
    height: 100%;
    background: #66BAB7;
    /* Old browsers */
    background: -moz-linear-gradient(45deg, #66BAB7 0%, #EDF5FF 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(45deg, #66BAB7 0%, #EDF5FF 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(45deg, #66BAB7 0%, #EDF5FF 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#66BAB7', endColorstr='#EDF5FF', GradientType=1);
    /* IE6-9 fallback on horizontal gradient */
    padding: 3%;
    box-sizing: border-box;
}

.content {
    background-color: white;
    padding: 20px;
}

.title-group {
    border-bottom: 2px solid #7B90D2;
    padding: 10px 0;
    margin-bottom: 10px;
}

.title {
    font-size: 26px;
    vertical-align: middle;
    display: inline-block;
    padding-left: 10px;
}

.self-photo {
    text-align: center;
    padding: 16px;
    position: relative;
}

.face-border {
    border-radius: 50%;
    overflow: hidden;
    max-width: 150px;
    display: inline-block;
    padding: 4px;
    border: 2px dashed #66BAB7;
}

.face-image {
    border-radius: 50%;
}

.photo-describe {
    background-color: white;
    border-top: 2px solid #66BAB7;
    border-bottom: 2px solid #66BAB7;
    padding: 0;
    font-size: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 180px;
    margin: auto;
}

.self-info {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 5% 0;
}

.self-info .left {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    flex: 300px;
    flex-grow: 0;
    flex-shrink: 0;
}

.tian-zige-row {
    display: flex;
    flex: 1;
    padding: 6px 0;
}

.tian-zige {
    flex: 1;
    text-align: center;
    font-size: 14px;
    color: #666666;
}

.icon {
    width: 46px;
    display: inline-block;
    vertical-align: middle;
}

.self-info .right {
    flex: 1;
    border-left: 3px solid #81C7D4;
    padding: 0 10px;
    color: #666666;
}

.self-info .right p {
    text-indent: 2em;
}

/* cards */

.instrument {
    font-size: 0;
    padding: 20px;
    margin-bottom: 20px;
}

.instrument-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}

.cards {
    font-size: 14px;
    width: 250px;
    height: 300px;
    box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin: 10px;
    position: relative;
}

.card01 {
    background: url("images/card01.png") no-repeat 50% 50%;
    background-size: cover;
}

.card02 {
    background: url("images/card02.png") no-repeat 50% 50%;
    background-size: cover;
}

.describe {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: rgba(0, 0, 0, 0.6);
}

.cards-info {
    color: white;
    text-align: center;
    padding: 3px 0;
}

.cards-info p {
    line-height: 20px;
}

.magnifier {
    background-color: transparent;
    border: none;
    width: 26px;
    cursor: pointer;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.magnifier:hover {
    width: 32px;
}

.screen {
    display: none;
    width: 70vw;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: white;
    height: 80vh;
    text-align: center;
    border-radius: 10px;
    z-index: 20;
    overflow: hidden;
}

.screen-header {
    text-align: right;
    display: block;
    height: 40px;
    margin: 5px;
}

.close-screen {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    width: 35px;
    padding: 10px;
}

.close-screen img {
    vertical-align: middle;
}

.screen-content {
    height: calc(100% - 40px);
    width: 100%;
    overflow: scroll;
}

.image-show {
    display: none;
    width: 80%;
}

.bg-mask {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    display: none;
}

/* paper */

.topic {
    color: #898989;
    font-size: 12px;
    line-height: 20px;
    padding-top: 10px;
}

.gallery-slider {
    display: flex;
    width: 100%;
    min-height: 460px;
    flex-direction: column;
}

.gallery-group {
    flex: 4;
    padding: 2%;
}

.gallery-border {
    width: 100%;
    height: 100%;
    padding: 2%;
    box-sizing: border-box;
    background-color: white;
}

.gallery {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    color: #666666;
}

.controller {
    flex: 50px;
    flex-grow: 0;
    flex-shrink: 0;
    font-size: 0;
    display: flex;
}

.slider-menu {
    display: inline-block;
    text-align: center;
    flex: 3;
    background-color: #3D3D3D;
    border: none;
    color: white;
    font-size: 16px;
    margin: 0 1px;
    cursor: pointer;
}

/* gallery 1 */

.gallery1-image {
    flex: 3;
    padding: 10px;
    max-width: 900px;
}

.gallery1-describe {
    flex: 2;
    padding: 10px;
    min-width: 300px;
}

.gallery2-image {
    flex: 1;
    padding: 10px;
    max-width: 500px;
}

.gallery2-describe {
    flex: 2;
    padding: 10px;
    min-width: 300px;
}

footer {
    text-align: center;
    padding: 10px 0;
}

@media screen and (max-width: 992px) {
    .self-info {
        width: 100%;
    }
    .gallery {
        flex-direction: column;
    }
}

@media screen and (max-width:780px) {
    .self-info {
        flex-direction: column;
    }
    .self-info .left {
        flex: 200px;
    }
}

@media screen and (max-width:480px) {
    body {
        padding: 4px;
    }
    .content {
        padding: 10px;
    }
    .instrument-row {
        justify-content: space-around;
    }
    .screen {
        width: 90vw;
        height: 60vh;
    }
    .image-show {
        display: none;
        width: 90%;
    }
    .screen-header {
        height: 30px;
        margin: 5px;
    }
    .screen-content {
        height: calc(100% - 30px);
        width: 100%;
        overflow: scroll;
    }
    .close-screen {
        width: 28px;
        padding: 6px;
    }
}

/* animate css */

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

@keyframes rubberBand {
    from {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
    30% {
        -webkit-transform: scale3d(1.25, 0.75, 1);
        transform: scale3d(1.25, 0.75, 1);
    }
    40% {
        -webkit-transform: scale3d(0.75, 1.25, 1);
        transform: scale3d(0.75, 1.25, 1);
    }
    50% {
        -webkit-transform: scale3d(1.15, 0.85, 1);
        transform: scale3d(1.15, 0.85, 1);
    }
    65% {
        -webkit-transform: scale3d(0.95, 1.05, 1);
        transform: scale3d(0.95, 1.05, 1);
    }
    75% {
        -webkit-transform: scale3d(1.05, 0.95, 1);
        transform: scale3d(1.05, 0.95, 1);
    }
    to {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1);
    }
}

.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(0.3, 0.3, 0.3);
        transform: scale3d(0.3, 0.3, 0.3);
    }
    50% {
        opacity: 1;
    }
}

.zoomIn {
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn;
}